/* General */
$dark_grey: #333333;
$grey: #666666;

/* Interface one */
$green: #5dc18e;

/* Interface two */
$bright_blue: #4285f4;
$light_blue: #cedffc;
$white_blue: #f0f5ff;

/* Interface three */
$grey_three: #929292;