@import "_grid";

* {
    box-sizing: border-box;
}

.card {
    background-color: grey;

.image {
    display: block;
    max-width: auto;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.test {
    height:200px;
    padding-top: 25%;
}
}