@import "_grid";
@import "_colors";
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=Merriweather+Sans:wght@700&family=Noto+Sans+TC:wght@400;700&family=Oswald:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
}

body {
    margin-top: 50px;
}

/* Interface one */
.interface_one {
    border-bottom: 2px dotted $grey;
    padding-bottom: 30px;
    margin-bottom: 50px;

    .card {
        margin-top: 20px;

        .image {
            display: block;
            max-width: auto;
            height: 200px;
            margin-left: auto;
            margin-right: auto;
        }

        .test {
            height: 200px;
            padding-top: 25%;
        }

        .text {
            padding-top: 24px;

            h2 {
                color: $green;
                font-size: 24px;
            }

            P {
                color: $grey;
                font-size: 16px;
            }
        }
    }

    strong {
        font-family: 'DM Mono', monospace;
        font-size: 18px;
        font-weight: bold;
    }
}

/* Interface two */
.interface_two {
    border-bottom: 2px dotted $grey;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.container_table {
    background-color: $bright_blue;
    color: $white_blue;

    h2 {
        font-size: 20px;
        margin-bottom: 0;
    }

    h3 {
        font-size: 60px;
        margin-top: 10px;

    }

    img {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        text-align: left;
        margin-bottom: 40px;
    }

    td {
        border-top: 1px solid $light_blue;
        padding-left: 4px;
    }

    th {
        color: $light_blue;
    }

    .button {
        width: 100%;
        border: none;
        border-top: 1px solid #cedffc;
        background-color: $bright_blue;
        color: $white_blue;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        text-align: right;
    }

    .fa {
        padding-left: 16px;
    }

}

/* Interface three */
.interface_three {
    font-family: 'Oswald', sans-serif;
    color: $dark_grey;

    .card {
        border: 1px solid $grey;
        padding: 0;
        height: 500px;

        .picture {
            margin: 0;
            padding: 0;
        }

        .text {
            padding-left: 5%;
            padding-right: 5%;
        }
    }

    .image {
        object-fit: cover;
        width: 100%;
        height: 500px;
    }

    h2 {
        font-size: 30px;
        font-weight: bold;
        font-family: 'Merriweather Sans', sans-serif;
        letter-spacing: -1px;
        line-height: 2.6rem;
    }

    h3 {
        font-size: 24px;
        color: $grey_three;
    }


}

.writer {
    display: flex;
    align-items: center;
    color: $grey_three;
    padding-top: 20%;


    img {
        float: left;
        width: 70px;
        margin-right: 30px;
        border-radius: 50%;

    }

    h4,
    p {
        font-size: 16px;
        margin-bottom: 0;
        line-height: 0.8rem;

    }

    h4 {
        font-weight: 500;
        color: $grey;
    }

    .author {
        float: left;
        width: 60%;
    }

}